{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create TO Do</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container-create">
        <form action="/update/{{edit_todo.id}}" method="post">
            {% csrf_token %}
            <div class="todo">
                <label for="">Update To-Do</label>
                <input type="text" value="{{edit_todo.todo}}" name="to_do" placeholder="Enter Your To-Do Data" autocomplete="off">
            </div>
            <div class="btn-submit">
                <input type="submit" value="Update">
            </div>
        </form>
    </div>
</body>
</html>